@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nav Link Styling */
@layer components {
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
  }
  
  .link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#F2C, #F2C)
  }
  
  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
  }
}